body, html
{
    height: 1500px; 
    padding: 0;
    margin: 0;
}
.navbar-whole
{
    position: relative;
    left: 60%;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li
{
    float: left;
}
.header
{
    background-color: #1F2937;
    height: 600px; 
    width: 100%;
    color: #f9faf8;
    font-size: 35px;
    display: flex;
    justify-content: flex-start;
}
.header-logo
{
    position: relative;
    left: 13.3%;
    top: 7%;
    font-weight: bold;
    font-size: 24px;
}
.header-title
{
    position: relative;
    left: 6.3%;
    bottom: 7%;
    font-weight: bolder;
    font-size: 48px;
    align-self: center;
}
.header-links
{
    position: relative;
    left: 53.4%;
    top: 7%;
    color: #f9faf8;
    font-size: 18px;
    white-space: nowrap;
    word-spacing: 30px;
}
.header-image
{
    align-self: center;
    position: relative;
    top: 22%;
    left: 28%;
    
}
.header-paragraph
{
    position: relative;
    right: 18%;
    top: 10%;
    align-self: center;
    font-size: 18px;
    overflow-wrap: break-word;
}
a
{
    text-decoration: none;
    color: #f9faf8;
}
.image-placeholder
{
    background-color: grey;
    position: relative;
    top: 25%;
    right: 14.7%;
    height: 50%;
    width: 35%;
    align-self: flex-start;
    background-image: url(images/nartuto-new.jpg);
    border: 6px solid orangered;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-middle
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.middle-header
{
    position: relative;
    align-self: flex-start;
}
.middle-title
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-container
{
    display: flex;
    flex-direction: row;
}

.middle-box-1
{
    width: 120px;
    height: 100px;
    border: 6px solid black;
    border-radius: 35px;
    padding: 50px;
    margin: 20px;
    background-image: url(images/sasuke.jpeg);
}
.middle-box-2
{
    width: 120px;
    height: 100px;
    border: 6px solid black;
    border-radius: 35px;
    padding: 50px;
    margin: 20px;
}
.middle-box-3
{
    width: 120px;
    height: 100px;
    border: 6px solid black;
    border-radius: 35px;
    padding: 50px;
    margin: 20px;
}
.middle-box-4
{
    width: 120px;
    height: 100px;
    border: 6px solid black;
    border-radius: 35px;
    padding: 50px;
    margin: 20px;
}

