body, html
{
    height: 1500px; 
    padding: 0;
    margin: 0;
}
.navbar-whole
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    color: #f9faf8;
    font-size: 18px;
    white-space: nowrap;
    word-spacing: 30px;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}
.header
{
    background-color: #1F2937;
    height: 600px; 
    width: 100%;
    color: #f9faf8;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
}
.header-logo /*this is the "welcome to naruto world"*/
{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
}
.header-title /*this is the big title on the header*/ 
{
    position: relative;
    font-weight: bolder;
    font-size: 48px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    
}
.header-paragraph
{
    position: relative;
    right: 18%;
    top: 10%;
    align-self: center;
    font-size: 18px;
    overflow-wrap: break-word;
}
a
{
    text-decoration: none;
    color: #f9faf8;
}
.image-placeholder /*this is the big picture on the header*/
{
    background-color: grey;
    position: relative;
    top: 25%;
    right: 14.7%;
    height: 50%;
    width: 35%;
    align-self: flex-start;
    background-image: url(images/nartuto-new.jpg);
    border: 6px solid orangered;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-middle
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.middle-header
{
    position: relative;
    align-self: flex-start;
}
.middle-title
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-container
{
    display: flex;
    flex-direction: row;
}

.middle-box-1
{
    width: 120px;
    height: 100px;
    border: 6px solid black;
    border-radius: 35px;
    padding: 50px;
    margin: 20px;
    background-image: url(images/sasuke-new.jpg);
    background-position: center;
    background-size: cover;
}
.middle-box-2
{
    width: 120px;
    height: 100px;
    border: 6px solid black;
    border-radius: 35px;
    padding: 50px;
    margin: 20px;
    background-image: url(images/itachi.png);
    background-position: center;
    background-size: cover;
}
.middle-box-3
{
    width: 120px;
    height: 100px;
    border: 6px solid black;
    border-radius: 35px;
    padding: 50px;
    margin: 20px;
    background-image: url(images/madara.png);
    background-position: center;
    background-size: cover;
}
.middle-box-4
{
    width: 120px;
    height: 100px;
    border: 6px solid black;
    border-radius: 35px;
    padding: 50px;
    margin: 20px;
    background-image: url(images/hashirama.webp);
    background-position: center;
    background-size: cover;
}
.box-paragraphs-whole
{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 3.5%;
    justify-content: space-between;
}
.box-1-text
{
    display: flex;
    position: relative;
    right: 5%;
}
.box-2-text
{
    display: flex;

}
.box-3-text
{
    display: flex;

}
.box-4-text
{
    display: flex;

}